.rrtb-panel{
    border-radius: 1.42857142857143rem /* 20px -> 1.42857142857143rem */;
    border:.07142857142857rem /* 1px -> .07142857142857rem */ solid #eee;
    background-color: #fff;
    padding:2.85714285714286rem /* 40px -> 2.85714285714286rem */;
    display: inline-block;
    margin: 1.42857142857143rem /* 20px -> 1.42857142857143rem */;
    min-height: 5.71428571428571rem /* 80px -> 5.71428571428571rem */;
    
    div.rrb-split{
        margin-top: 1.42857142857143rem /* 20px -> 1.42857142857143rem */;
        text-align: left;
    }
    div.rrb-split:nth-child(1){
        margin-top:0;
    }
}

.rrt-p-page{
    border:unset;
    margin: 4.28571428571429rem /* 60px -> 4.28571428571429rem */;
    padding:0px;
    background-color: unset;
    display: block;
}

.rrt-p-windowLay{
    display: block;
    border:unset;
    padding:unset;
    margin: unset;
    border-radius:0;
    background-color:transparent;
    box-shadow:unset;
    min-height: unset;
    margin-top: 1.42857142857143rem /* 20px -> 1.42857142857143rem */;
    text-align: left;
}
.rrt-p-windowLay:nth-child(1){
    margin-top: 0;
}

.rrt-p-leftMenu{
    border:unset;
    padding:unset;
    margin: unset;
    border-radius: 1.42857142857143rem /* 20px -> 1.42857142857143rem */;
    background-color: #f5f7fa;
    width:7.14285714285714rem /* 100px -> 7.14285714285714rem */;
    height:68.57142857142857rem /* 960px -> 68.57142857142857rem */
}

.rrt-p-1Level{
    border:unset;
    padding:unset;
    margin: unset;
    border-radius: 1.42857142857143rem /* 20px -> 1.42857142857143rem */;
    background-color: #f8f9fc;
    display: block;
}

.rrt-p-2Level{
    border:unset;
    padding:unset;
    margin: unset;
    border-radius: 1.42857142857143rem /* 20px -> 1.42857142857143rem */;
    background-color: #fff;
    box-shadow:0px 0px 2.85714285714286rem .35714285714286rem   #E3E6EC;
    display: block;
}

.rrt-p-3Level{
    border:unset;
    padding:unset;
    margin: unset;
    border-radius: .71428571428571rem /* 10px -> .71428571428571rem */;
    background-color: rgba(222,53,11,.5);
    box-shadow:0px 0px 2.85714285714286rem .35714285714286rem   #E3E6EC;
    display: block;
}

.rrt-p-empty{
    border:unset;
    padding:unset;
    margin: unset;
    border-radius:0;
    background-color:transparent;
    box-shadow:unset;
    display: block;
}

.rrt-p-paddingtype-leftMenu{
    margin: unset;
     /* 
        margin-right: 4.28571428571429rem
     60px -> 4.28571428571429rem */
}

.rrt-p-paddingtype-rightContainer{
    margin-left:11.42857rem;
}

.rrt-p-paddingtype-0-0{
    margin:0px;
    padding:0px;
}

.rrt-p-paddingtype-30-30{
    margin: 2.14285714285714rem /* 30px -> 2.14285714285714rem */;
    padding:2.14285714285714rem /* 30px -> 2.14285714285714rem */;
}

.rrt-p-paddingtype-20-20{
    margin:1.42857142857143rem /* 20px -> 1.42857142857143rem */;
    padding:1.42857142857143rem /* 20px -> 1.42857142857143rem */;
}

.rrt-p-paddingtype-0-30{
    margin:0;
    padding:2.14285714285714rem /* 30px -> 2.14285714285714rem */;
}

.rrt-p-paddingtype-0-20{
    margin:0;
    padding:1.42857142857143rem /* 20px -> 1.42857142857143rem */;
}

.rrt-p-floatLeft{
    float: left;
}

.rrt-p-floatRight{
    float: right;
}

/*移动端时使用的样式:竖屏样式*/
@media (orientation: portrait ){
    .rrtb-panel{
        display: block;
    }
    /*
    在panel组件下
    所有元素的基础字体全部为20像素
    */
    div.rrb-split,.MuiOutlinedInput-root,.MuiButtonBase-root,.css-d9c359-MuiButtonBase-root-MuiToggleButton-root,.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
        font-size: 1.257143rem /* 40px -> 2.85714285714286rem */ ;
    }
}

